#customer {
    margin: auto;

    & img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: .625rem;
    }
    background-color: var(--gray-100);
    border-radius: 1rem ;
    border: 1px solid var(--gray-300);
    padding: 1rem;
    width: 21rem;
    height: 5.625rem;

    & p:first-child {
        font: var(--title-sm);
        padding-bottom: .25rem ;
    }

    & p:last-child {
        font: var(--text-xs);   
    }    
}

@media (width >= 80em) {
    #customer {
        grid-area: a;
        margin: auto;
        & img {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: .625rem;
        }
        background-color: var(--gray-100);
        border-radius: 1rem ;
        border: 1px solid var(--gray-300);
        padding: 1rem;
        width:  20rem;
        height: 5.625rem;
    }
}  