.container {    
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: .75rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-1 {
    gap: 1rem;
}

.items-center {
    align-items: center;
}

.content-center {
    align-content: center;
}

@media (width >= 80em) {
    .container {
        --max-width: 80rem;
    }
}